/***************************************************/
// COLORS
/***************************************************/
@main-background-color: white;
@secondary-background-color: #333;
@third-background-color: aliceblue;

@main-color: black;
@secondary-color: white;
@third-color: black;

@dangerColor: #d9534f;

/***************************************************/
// SIZE
/***************************************************/
@nav-bar-height: 60px;
@tool-bar-width: 250px;
